{% extends 'base.html' %}

{% block content %}
  <div class="post-entry">

    <h2 class="text-white">{{ post.title }}</h2>
    <p class="text-white">{{ post.body }}</p>
  </div>

  <p><a href="{% url 'post_edit' post.pk %}" class="text-white">+ Edit Blog Post</a></p>
  <p><a href="{% url 'post_delete' post.pk %}" class="text-white">+ Delete Blog Post</a></p>

    <h2>{{ post.title }}</h2>
    <p>{{ post.body }}</p>
  </div>

  <p><a href="{% url 'post_edit' post.pk %}">+ Edit Blog Post</a></p>
  <p><a href="{% url 'post_delete' post.pk %}">+ D>>>>>>> ceaf274d150992d165c189e16498bf03004e603f
{% endblock content %}
